<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReLinking Identities{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    {% block extra_head %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            scroll-behavior: smooth;
        }
        .pattern-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("https://www.transparenttextures.com/patterns/white-wall.png");
            opacity: 0.2;
            pointer-events: none;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
